*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --fb-blue: rgb(56, 81, 133);
    --ig-blue: rgba(0, 140, 255, .9);
    --ig-grey-light: rgb(220, 220, 220);
    --ig-grey-medium: rgb(138, 138, 138);
    --ig-grey-dark: rgb(117, 117, 117);
}

/* ---------- HTML, BODY ELEMENTS ---------- */
html, body {
    height: 100vh;
    width: 100%;
}

body {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    /* min-width: 320px; */
    font-family: 'Segoe UI','Roboto',Helvetica, Arial, sans-serif;
    overflow-y:scroll;

    /* overflow-x: hidden; */
    /* min-width: 450px; */
    /* overflow-y: hidden; */
}

main {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 630px;
    position: relative;
}

section {
    height: 610px;
    margin-top: 5.3em;
    width: 350px;   
}

footer {
    color:var(--ig-grey-medium);
    display: flex;
    flex-direction: column;
    font-size: .75em;
    margin: 0 auto;
    padding: 3.85em 0;
    width: 100%;
}

a, a::before, a::after {
    color: inherit;
}


input:focus {
    outline: none;
    border: 1px solid rgba(138, 138, 138, .9) !important;
}

/* ALTERNATE INPUT:FOCUS BORDER TRICK */
    
    /* QUESTION: Why is !important necessary to make the above rule function? (I had heard that !important should be used seldomly; is this one of those rare exceptions in which its use is appropriate? Or have I made a mistake elsewhere with my specificity?) This method was recommended via a CSS Tricks forum: https://css-tricks.com/forums/topic/border-radius-for-outline/ */

    /* input:focus {
    box-shadow:
        1px 1px var(--ig-grey-dark),
        -1px -1px var(--ig-grey-dark);
    outline: none;
    } */

/* ---------- LOGIN CONTAINER DECLERATIONS ---------- */
.login-ctr,
.sign-up-ctr,
.get-app-ctr {
    align-items: center;
    background-color: white;
    border: 1px solid var(--ig-grey-light);
    display: flex;
    flex-direction: column;
    height: 62.25%;
    justify-content: center;
    margin-bottom: .65em;
}

.login-ctr > div {
    display: flex;
    flex-direction: column;
    height: 30%;
    margin: 0 auto;
    width: 80%;
}

.login-ctr > .logo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: .15em auto .35em;
}

.login-ctr > .alt-options,
.login-ctr > .login {
    height: 35%;
}

.login-ctr > .alt-options {
    align-items: center;
}

    /* --- LOGIN FORM DECLERATIONS --- */
    .login form {
        display: flex;
        flex-direction: column;
    }

    .login input {
        background-color: #FAFAFA;
        border: 1px solid var(--ig-grey-light);
        border-radius: .2em;
        display: block;
        font-family: inherit;
        font-size: .78em;
        margin-bottom: .5em;
        padding: .8em .7em;
    }

    .login input::placeholder{
        font-family: inherit;
        color: var(--ig-grey-medium);
        transform: translateY(5%);
    }

    .login input[value="Log In"] {
        color: white;
        background-color: var(--ig-blue);
        border: 1px solid currentColor;
        border-radius: .4em;
        font-size: .81em;
        font-weight: 500;
        margin: .55em 0 .25em;
        padding: .485em .7em .49em;
    }

    .login input[value="Log In"]:hover {
        cursor: pointer;
    }

    /* --- LOGIN ALT-OPTIONS DECLERATIONS --- */
    .or-separator {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: .8em 0;
        width: 100%;
    }

    .or-separator div {
        background-color: var(--ig-grey-light);
        height: 1px;
        width: 50%;  
    }

    .or-separator p {
        color: var(--ig-grey-medium);
        font-size: 12.5px;
        font-weight: 500;
        padding: 0 1.4em;
        text-transform: uppercase;
        transform: translateY(5%);
    }

    .fb-login {
        align-items: center;
        display: flex;
        font-weight: bolder;
        padding: .85em;
    }

    .fb-login img {
        height: 1em;;
        width: 1em;
    }

    .fb-login h5 {
        color: var(--fb-blue);
        font-size: 14px;
        font-weight: 600;
        margin: .05em 0 .2em;
        padding-left: .5em;
        
    }

    .pw-forgot {
        font-size: .78em;
        padding-top: .2em;
    }

/* ---------- SIGN-UP CONTAINER DECLERATIONS ---------- */
.sign-up-ctr {
    height: 10.25%;
}

.sign-up-ctr p {
    font-size: .9em;
    transform: translateY(-.1em);
}

.sign-up-ctr span {
    color: var(--ig-blue);
    font-weight: 500;
}

/* ---------- GET APP CONTAINER DECLERATIONS ---------- */
.get-app-ctr {
    background-color: transparent;
    border: none;
    height: 21.35%;
    justify-content: flex-start;
}

.get-app-ctr p {
    font-size: .9em;
    padding: .55em 0 .25em;
}

.get-app-ctr > div {
    display: flex;
}

.get-app-ctr div img {
    height: 2.5em;
    margin: 1.05em .25em;
}

    /* --- ALTERNATIVE GET APP IMAGES DESIGN --- */
    /* .get-app-ctr input {
        height: 4em;
        width: 5em;
    }

    .get-app-ctr #app-store {
        background-image: url(./images/IG-app-store-button.png);
        background-size: cover;
    }

    .get-app-ctr #google-play {
        background-image: url(./images/IG-Google-Play-Button.png);
        background-size: cover;
        background-position: center;
    } */

/* ---------- FOOTER DECLERATIONS ---------- */

.footer-div-ctr {
    position: relative;
    padding: 0 2em;
}

.footer-div-ctr div {
    text-align: center;
}

.footer-div-ctr > div:last-child {
    /* flex-wrap: nowrap; */
    padding: .85em 0;
}

.footer-div-ctr div > * {
    display: inline-block;
    padding: .215em .53em;
}

.footer-div-ctr select {
    background-color: transparent;
    border: none;
    color:var(--ig-grey-medium);
    font: inherit;
    font-size: inherit;
}
